@media screen and (max-width: 1500px)
{
    .container 
    {
        gap: 15px;
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1200px)
{
    .container 
    {
        gap: 15px;
        width: 99%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1024px)
{
    .container 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        width: 99%;
        text-align: center;
        justify-items: center;
    }
    ul 
    {
        font-size: 18px ;
    }
}
@media screen and (max-width: 992px)
{
    .container 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        width: 99%;
        text-align: center;
        justify-items: center;
    }
    ul 
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px)
{
    .container 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        width: 95%;
        margin: auto;
    }
    .p img 
    {
        height: 80%;
        width: 70%;
    }
    .p1 
    {
        height: 200px;
        width: auto;
    }
    ul 
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px)
{
    .modelbox img , .modelbox2 img
    {
        height: 65%;
        margin-top: 25%;
    }
    ul 
    {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px)
{
    ul
    {
        font-size: 15px;
    }
    .user i
    {
        font-size: 100px;
    }
    h2 
    {
        font-size:22px;
    }
    .container 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        margin-left: 2.8%;
        margin-right: 2.8%;
    }
    .p1
    {
        height: 150px;   
        width: auto;
        background-color: white;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .p img
    {
        height: 60%;
        width: 80%;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .close a,.close2 a
{
    text-align: center;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    text-decoration: none;
}
    .modelbox img , .modelbox2 img
    {
        height: 60%;
        margin-top: 25%;
    }
    /* .close , .close2
    {
        position: absolute;
        margin-top: -111%;
        margin-left: 86%;
    } */
}


@media screen and (max-width: 360px)
{
    ul
    {
        font-size: 15px;
    }
    .user i
    {
        font-size: 100px;
    }
    h2 
    {
        font-size:22px;
    }
    .container 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        margin-left: 2.8%;
        margin-right: 2.8%;
    }
    .p1
    {
        height: 150px;   
        width: auto;
        background-color: white;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .p img
    {
        height: 60%;
        width: 80%;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .modelbox img , .modelbox2 img
    {
        height: 55%;
        margin-top: 55%;
    }
};